{% include calculate_relative_base.html %}
{% include escape-404.html %}

<head>
  <!-- Google Tag Manager -->
  <script async src="https://www.googletagmanager.com/gtm.js?id=GTM-PJ23KLZW"></script>
  <!-- End Google Tag Manager -->

  <meta name="google-site-verification" content="l-NOqP5ku83qm83TF--vQ4h-UQaMoPM5yy7YN5--TvE" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Preconectar a fuentes críticas -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- Precargar fuentes críticas -->
  <link rel="preload" href="https://fonts.gstatic.com/s/lora/v17/0QIvMX1D_JOuMwr7I_FMl_E.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdu3cOWxw.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <style>
    /* Incluye aquí solo las reglas CSS necesarias para el contenido crítico que se muestra por primera vez */
  </style>

  <!-- Styles -->
  <link rel="stylesheet" href="{{ relativebase }}assets/css/main.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ relativebase }}assets/fonts/font-awesome/css/font-awesome.min.css">

  {% include favicon.html %}
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="{{ relativebase }}assets/css/highlighter/{{ site.highlight_theme }}.css">
  {% endif %}
</head>
